body {
    background-image: url(https://images7.memedroid.com/images/UPLOADED890/684ddba519f3a.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: static;
}
button {
    width: 100px;
    height: 50px;
    background-color: rgb(234, 0, 255);
    border: 2px solid black;
    border-radius: 10px;
}